{% extends "base.html" %}
{% from "admin_nav.html" import admin_navbar %}

{% block content %}
<div class="container-fluid">
    <h3 align="center">Admin panel</h3>
    <div class="row">
        {{ admin_navbar }}
        <div class="col-md-9 col-lg-10">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Manage Posts</h5>
                            <p class="card-text">Просмотр, добавление, и удаление постов.</p>
                            <a href="{{url_for('admin.manage_posts')}}" class="btn btn-primary">Go to Posts</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Manage Users</h5>
                            <p class="card-text">Просмотр, добавление, редактирование и удаление пользователей.</p>
                            <a href="{{url_for('admin.manage_users')}}" class="btn btn-primary">Go to Users</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Test</h5>
                            <p class="card-text">Test</p>
                            <br>
                            <a href="#" class="btn btn-primary">Test</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}