
{% set admin_navbar %}
<div class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar">
    <div class="position-sticky pt-3">
        <nav class="nav flex-column" id="admin-nav">
            <a class="nav-link active" aria-current="page" href="{{url_for('admin.admin_panel')}}">Dashboard</a>
            <a class="nav-link" href="{{url_for('admin.manage_users')}}">Users</a>
            <a class="nav-link" href="{{url_for('admin.manage_tokens')}}">Tokens</a>
            <a class="nav-link" href="{{url_for('admin.manage_posts')}}">Posts</a>
          </nav>
    </div>
</div>
{% endset %}