{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-5 col-3">
        <a class="btn btn-primary" href="/admin">Назад</a>
    </div>
    <div class="col col-lg-6 col-6">
        <h3>Manage posts</h3>
    </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar">
            <div class="position-sticky pt-3">
                <nav class="nav flex-column" id="admin-nav">
                    <a class="nav-link active" aria-current="page" href="/admin">Dashboard</a>
                    <a class="nav-link" href="#">Users</a>
                    <a class="nav-link" href="#">Settings</a>
                  </nav>
            </div>
        </div>
        <div class="col-md-9 col-lg-10">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">View posts</h5>
                            <p class="card-text">Просмотреть все посты</p>
                            <a href="/admin/view-posts" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Add post</h5>
                            <p class="card-text">Добавить пост, используя ссылку</p>
                            <a href="/admin/create-post" class="btn btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}