{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col col-lg-5 col-3">
        <a class="btn btn-primary" href="/admin/manage-posts">Назад</a>
    </div>
    <div class="col col-lg-7 col-6">
        <h3>Просмотр постов</h3>
    </div>
</div>
{% for post in posts %}
<div class="row">
    <div class="post-card col-lg-5 col-sm-5 mx-auto">
        <script async src="https://telegram.org/js/telegram-widget.js?21" data-telegram-post="{{post.post_tg_url}}" data-width="100%" data-color="B063FC"></script>
        <a href="/admin/delete/{{post.id}}" class="btn btn-danger" style="margin-left: 55px;">Delete</a>
    </div>
</div>
{% endfor %}
{% endblock %}