{% extends "base.html" %}

{% block content %}

<div class="container row">
    <div class="col-lg-5 col-sm-7 mx-auto">
  <form method="POST" action="" enctype="multipart/form-data">
    <h3 align="center">Изменение аватара</h3>
    {{ form.hidden_tag() }}
    <p>
        {{ form.avatar.label }}<br>
        {{ form.avatar(class="form-control") }}<br>
        {% for error in form.avatar.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary mx-auto d-block col-lg-3 col-sm-5") }}</p>
    {% if message %}
        <div class="alert alert-warning" role="alert">
          {{message}}
      </div>
    {% endif %}
  </form>
  </div>


{% endblock %}