{% extends "base.html" %} {% block content%}

<div class="container row">
  <div class="col-lg-5 col-sm-7 mx-auto">
<form method="POST">
  <h3 align="center">Login</h3>
  {{ form.hidden_tag() }}
  <p>
      {{ form.email.label }}<br>
      {{ form.email(class="form-control", type="email") }}<br>
      {% for error in form.email.errors %}
          <div class="alert alert-danger" role="alert">
              {{ error }}
          </div>
      {% endfor %}
  </p>
  <p>
      {{ form.password.label }}<br>
      {{ form.password(class="form-control", type="password") }}<br>
      {% for error in form.password.errors %}
          <div class="alert alert-danger" role="alert">
              {{ error }}
          </div>
      {% endfor %}
  </p>
  <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
  <p>{{ form.submit(type="submit", class="btn btn-primary mx-auto d-block col-lg-3 col-sm-5") }}</p>
  {% if message %}
      <div class="alert alert-warning" role="alert">
        {{message}}
    </div>
  {% endif %}
</form>
</div>
</div>
{% endblock %}