{% extends "base.html" %}
{% from "components/user_avatar.html" import user_avatar %}

{% block content %}
<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="post-card col-lg-5 col-sm-5 mx-auto">
            <script async src="https://telegram.org/js/telegram-widget.js?21" data-telegram-post="{{post.post_tg_url}}" data-width="100%" data-color="B063FC"></script>
            <div class="btn-wrapper">
                {% set color = "btn-outline-success" %}
                {% if user.id in post.likes|map(attribute="author_id")|list %}
                {% set color = "btn-success" %}
                {% endif %}
                {# Это костыль, из-за того что vscode видит несуществующую ошибку #}
                {% set func = "like(" ~ post.id ~ ")" %}
                <a id="like-button-{{post.id}}" onclick="{{func}}" class="btn {{color}}"><i class="bi bi-hand-thumbs-up"></i> <span id="likes-count-{{post.id}}">{{post.likes|length}}</span></a>
            </div>
        </div>
    </div>
    <div class="row col-lg-7 col-sm-9 mx-auto">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{form.text.label}}<br>
                {{form.text(class="form-control col-lg-5 col-sm-6", maxlength=200)}}
                {{form.files(class="form-control")}}
                {% for error in form.files.errors %} 
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                    {% endfor %}
                
            </p>
                <div class="row justify-content-end">
                    <div class="col-4 col-lg-2 col-sm-3 col-xs-3" style="margin-right: 5px">
                        {{ form.submit(type="submit", class="btn btn-primary") }}
                    </div>
                </div>
                <br>
        </form>
    <h5>Комментариев: {{post.comments|length}}</h3>
    {% if post.comments %}
        <div class="comments">
        {% for comment in post.comments %}
            <div class="card" style="margin-bottom: 20px;">
                <h6 class="card-header"><div class="d-flex align-items-center"><div>{{user_avatar(comment.author_id, 25)}}</div><div>⠀</div><div>{{comment.author.name}}</div></div></h5>
                <div class="card-body">
                    {% if comment.images %}
                        <div class="attached-images d-flex flex-lg-row flex-column">
                            {% for image in comment.images.split('; ') %}
                                <div class="col-lg-3 col-sm-3 col-xs-3 attached-image">
                                    <img src="{{url_for('static', filename=image)}}" class="card-img" alt="">
                                </div>
                            {% endfor %}
                        </div>
                        <hr>
                    {% endif %}
                    <p class="card-text">{{comment.text}}</p>
                    <p class="card-text"><small class="text-muted">{{comment.created_date|time_ago}}</small></p>
                    {% if user.id == comment.author_id %}
                        <a class="btn btn-sm btn-outline-primary btn-comment-down" href="{{url_for('views.edit_comment', comment_id=comment.id)}}"><i class="bi bi-pencil"></i></a>
                    {% endif %}
                    {% if user.id == comment.author_id or user.admin %}
                    <a class="btn btn-sm btn-outline-danger btn-comment-down" href="{{url_for('views.delete_comment', comment_id=comment.id)}}"><i class="bi bi-trash"></i></a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>
</div>
<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}