{% extends "base.html" %}

{% block content %}
<div class="container row">
<div class="col-lg-5 col-sm-7 mx-auto">
    <h1>Сброс пароля</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        </p>
        <p>
            {{ form.password_repeat.label }}<br>
            {{ form.password_repeat(class="form-control", type="password") }}<br>
            {% for error in form.password_repeat.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary mx-auto d-block col-lg-3 col-sm-5") }}</p>
    </form>
</div>
</div>
{% endblock %}